<%= form_with model: @project do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% @project.errors.full_messages_for(:title).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :budget %><br>
      <%= form.text_area :budget %>
      <% @project.errors.full_messages_for(:body).each do |message| %>
          <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :start_date %><br>
      <%= form.text_field :start_date %>
      <p>date format: yyyy/mm/dd</p>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>