<h1>Projects#index</h1>
<ul>
  <% @projects.each do |project| %>
    <li>
    <a href="<%= project_path(project) %>">
        <%= project.title %>
      </a>
      <%= project.budget %>
      <%= project.start_date %>
      <%= project.current_budget %>
    </li>
  <% end %>

  <%= link_to "New Project", new_project_path %>
</ul>
